<!--====== FOOTER PART START ======-->
<footer id="footer" class="footer-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
                    <a href="#" class="mb-35 d-block"><img src="{{ asset('images/logo.png') }}" alt=""> </a>
                </div>
            </div>
            <div class="col-xl-8 offset-xl-1 col-lg-8 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
                    <ul>
                        <li class="footer-link"><a href="{{path('home')}}#home">{{'home.menu.home' |trans}}</a></li>
                        <li class="footer-link"><a href="{{path('home')}}#keyNumbers">{{'home.menu.keyNumbers' |trans}}</a></li>
                        <li class="footer-link"><a href="{{path('home')}}#survey">{{'home.menu.survey' |trans}}</a></li>
                        <li class="footer-link"><a href="{{path('home')}}#situation">{{'home.menu.situation' |trans}}</a></li>
                        <li class="footer-link"><a href="{{path('home')}}#contact">{{'home.menu.contact' |trans}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-cradit">
            <p class="text-center mb-0">Copyright &copy; cov-19.tn 2020, tous droits réservés</p>
        </div>
    </div>
</footer>
<!--====== FOOTER PART ENDS ======-->